body {font-family: 'Cormorant Garamond', serif;
}

.about-name {
    width: 60%;
    display: flex;
    justify-content: center;
    margin: auto;
    border-bottom: 1px solid #000;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: flex-end;
}

nav li {
    padding: 10px 15px;
    list-style-type: none;
   
}

nav a {
    text-decoration: none;
    color: dimgray;
    text-transform: uppercase;   
}

nav li:hover {
    background: lightgray; 
}


header {
    position: relative;
    height: 500px;
}

.name {
    text-align: center;
    color: dimgray;
}


h3 {
    text-align: center;
    color: dimgray;
}

.main-image {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    overflow: hidden;
}


.circle-image {
   width: 300px;
    height:300px ;
    position: relative;
    border-radius: 50%;
}

.circle-image img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


p {
    width: 80%;
    text-align: center;
    color: black;
    padding: 5px 10% 5px 10%;
    color: dimgray;
    
}

h4 {
    text-transform: uppercase;
}


/*  Column Layou  */

.column-container {
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    margin: auto;
    width: 100%;
    padding: 50px 0
}

.column-cell {
    display: flex;
    width: 100%;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
}



@media screen and (min-width: 1000px) {
    
    .column-container {
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;
    }
    
    .column-cell {
        width: 33.3333%;
    }
    
}


/*RESUME STYLE*/

.resume-list {
    float: left;
}

.resume-list {
    text-decoration: none;
}





/*Added in class*/

/* Mobile: 320px = 20em */
/*
@media screen and (min-width: 20em) { 

   Diagnostic Styling. 
	body {
       background: red;
	}
	
}
*/

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

   Diagnostic Styling. 
  body {
       background: green;
  }

}

/* Desktop: 1280px = 80em */
/*
@media screen and (min-width: 80em) { 
  
   Diagnostic Styling. 
  body {
       background: blue;
  }
*/

}